@namespace LogJoint.Wasm.UI
@implements IAsyncDisposable

<span></span>

@code {
    [Parameter]
    public Func<Task> OnFirstRender { get; set; }

    [Parameter]
    public Func<Task> OnDispose { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && OnFirstRender != null)
        {
            await OnFirstRender();
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (OnDispose != null)
        {
            await OnDispose();
        }
    }
}
