/trunk/todo.txt
bin
obj
*.suo
*.DS_Store
*.userprefs
/trunk/extensions/skype
/trunk/TestResults/*.mdf
/trunk/TestResults/*.ldf
packages
/trunk/platforms/windows/logjoint.model/Properties/BuildInfo.txt
/trunk/platforms/osx/logjoint.model/Properties/BuildInfo.txt
/trunk/TestResults
/trunk/*.opensdf
/trunk/*.sdf
*.ipch
/trunk/platforms/windows/TestResults
BuildInfo.txt
/trunk/platforms/windows/logjoint.updatetool/*.user
*.dmg
/trunk/platforms/osx/.vs/*
/trunk/platforms/windows/.vs/*
/trunk/.vs/*
/trunk/extensions/chromium/plugin/deploy.sh
/trunk/extensions/symphony/plugin/deploy.sh
/trunk/extensions/packet-analysis/platforms/osx/logjoint.packet-analysis.plugin/deploy.sh
/trunk/extensions/packet-analysis/platforms/windows/logjoint.packet-analysis.plugin/deploy.bat
/trunk/extensions/azure/platforms/windows/logjoint.azure.plugin/deploy.bat
/trunk/platforms/osx/logjoint.mac/logjoint.mac.csproj.user