/trunk/todo.txt
bin
obj
*.suo
*.DS_Store
*.userprefs
/trunk/extensions/skype
/trunk/TestResults/*.mdf
/trunk/TestResults/*.ldf
packages
/trunk/platforms/windows/logjoint.model/Properties/BuildInfo.txt
/trunk/platforms/osx/logjoint.model/Properties/BuildInfo.txt
/trunk/TestResults
/trunk/*.opensdf
/trunk/*.sdf
*.ipch
/trunk/platforms/windows/TestResults
BuildInfo.txt
/trunk/platforms/windows/logjoint.updatetool/*.user
*.dmg
/trunk/platforms/osx/.vs/*
/trunk/platforms/windows/.vs/*
/trunk/.vs/*