@namespace LogJoint.Wasm.UI.Postprocessing
@inject IJSRuntime jsRuntime;

<div class="state-inspector @Class">
    <LogJoint.Wasm.UI.Postprocessing.StateInspectorObjectsTree Class="left" />
    <div class="v-resizer" @ref="verticalResizerElement"></div>
    <div class="right" @ref="rightContainer">
        <LogJoint.Wasm.UI.Postprocessing.StateInspectorProperties Class="top"/>
        <LogJoint.Wasm.UI.Postprocessing.StateInspectorHistory Class="bottom" ResizerClass="h-resizer"/>
    </div>
</div>

@code {
    private ElementReference verticalResizerElement, rightContainer;

    [Parameter]
    public string Class { get; set; } = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("logjoint.resize.initEWResizer",
            verticalResizerElement, rightContainer, /*invserse=*/true, /*relativeToParent=*/true);
    }
}
