<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

    <targets>
      <target name="layoutFile" 
              xsi:type="File" 
              deleteOldFileOnStartup="True" 
              fileName="${basedir}/nlog.layout.txt" 
              layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}"
              />
      <target name="csvFile"
              xsi:type="File"
              deleteOldFileOnStartup="True"
              fileName="${basedir}/nlog.csv">
        <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false" quoting="auto" >
          <column name="time" layout="${longdate}" />
          <column name="level" layout="${level:upperCase=true}"/>
          <column name="message" layout="${message}" />
          <column name="callsite" layout="${callsite:includeSourcePath=true}" />
          <column name="stacktrace" layout="${stacktrace:topFrames=10}" />
          <column name="exception" layout="${exception:format=ToString}"/>
        </layout>
      </target>

      <target name='jsonFile' type='File' fileName='nlog.json'>
         <layout type='JsonLayout'>
           <attribute name='time' layout='${longdate}' />
           <attribute name='level' layout='${level:upperCase=true}'/>
           <attribute name='nested' encode='false'  >
             <layout type='JsonLayout'>
               <attribute name='message' layout='${message}' />
               <attribute name='exception' layout='${exception}' />
             </layout>
           </attribute>
         </layout>
      </target>
		
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="layoutFile" />
      <logger name="*" minlevel="Debug" writeTo="csvFile" />
	  <logger name="*" minlevel="Debug" writeTo="jsonFile" />
    </rules>
</nlog>
