@namespace LogJoint.Wasm.UI
@inject IJSRuntime jsRuntime
@inject LogJoint.ModelObjects model
@inject LogJoint.UI.Presenters.PresentationObjects presentation
@implements IDisposable
@using LogJoint.UI.Presenters.MainForm
@inject JsInterop jsInterop

<div class="main-window" @ref="element">
    <div class='container-1'>
        <MainWindowTabs Class="top" ResizerClass='top-separator' />
        <div class='bottom container-2'>
            <TimelineContainer Class='left' ResizerClass='left-separator' CollapsedResizerClass="left-separator-collapsed" />
            <div class='mid container-3'>
                <LogJoint.Wasm.UI.LoadedMessages.LoadedMessages Class="top" />
                <SearchResult Class="bottom" ResizerClass="bottom-separator" CollapsedResizerClass="bottom-separator-collapsed" />
            </div>
            <ToolsContainer Class='right' ResizerClass='right-separator' CollapsedResizerClass="right-separator-collapsed" />
        </div>
    </div>
    <QuickSearchSuggestionsList ViewModel="@presentation.ViewModels.SearchPanel.QuickSearchTextBox" Class="search-panel-suggesions" />
</div>
<StatusPopup />
<HistoryDialog />
<PostprocessingDialog />
<FileEditor />
<SourcePropertiesDialog />
<Alert />
<LogJoint.Wasm.UI.Postprocessing.SummaryDialog/>
<div class="drag-drop-overlay">
    <p>Drop logs to open</p>
</div>

@code {
    private ElementReference element;
    private DotNetObjectReference<DropHandler> dropHandler;
    private IDisposable keyHandler;
    private ISubscription subscription;

    class DropHandler
    {
        internal LogJoint.ModelObjects model;

        [JSInvokable]
        public async Task HandleDrop(long[] handles)
        {
            await Task.WhenAll(handles.Select(OpenHandle));
        }

        async Task OpenHandle(long handle)
        {
            var fs = (LogJoint.Wasm.IWasmFileSystemConfig)model.FileSystem;
            var fileName = await fs.AddDroppedFile(handle);
            Console.WriteLine("Virtual file name for dropped file: {0}", fileName);
            using (var keepAlive = model.FileSystem.OpenFile(fileName))
            {
                var task = model.LogSourcesPreprocessings.Preprocess(
                    new[] { model.PreprocessingStepsFactory.CreateLocationTypeDetectionStep(
                        new LogJoint.Preprocessing.PreprocessingStepParams(fileName, displayName: System.IO.Path.GetFileName(fileName))) },
                    $"Processing dropped file {handle}"
                );
                await task;
            }
        }
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dropHandler = DotNetObjectReference.Create(new DropHandler { model = model });
            await jsRuntime.InvokeVoidAsync("logjoint.dragDrop.registerHandler", element, "drag-drop-overlay", dropHandler);
            keyHandler = await jsInterop.Keyboard.AddHandler(element, new KeyboardInterop.Options
            {
                PreventDefault = true,
                Handler = () => presentation.ViewModels.MainForm.OnKeyPressed(KeyCode.FindShortcut)
            }, "Edit+F/i");
        }
    }


    protected override void OnInitialized()
    {
        var updateBodyThemeClass = Updaters.Create(
            () => presentation.ColorTheme.Mode,
            mode =>
            {
                jsInterop.Style.SetBodyClass("dark-theme", mode == LogJoint.UI.Presenters.ColorThemeMode.Dark);
                jsInterop.Style.SetBodyClass("light-theme", mode == LogJoint.UI.Presenters.ColorThemeMode.Light);
            }
        );

        subscription = model.ChangeNotification.CreateSubscription(() =>
        {
            updateBodyThemeClass();
        });
    }

    public void Dispose()
    {
        dropHandler?.Dispose();
        keyHandler?.Dispose();
        subscription?.Dispose();
    }
}
