@namespace  LogJoint.Wasm.UI

@if (Visible)
{
    <div class="modal" @onmousedown="HandleClickOutside">
        <div class="contents @Class" @onmousedown:stopPropagation>
            @ChildContent
        </div>
    </div>
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Visible { get; set; } = false;

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public Action ClickOutside { get; set; }

    async void HandleClickOutside()
    {
        await Task.Yield();
        ClickOutside?.Invoke();
    }
}
