@namespace  LogJoint.Wasm.UI
@using LogJoint.UI.Presenters.Reactive

<div class="tree @Class">
    @if (Root != null)
    {
        @foreach (var topLevelNode in Root.Children)
        {
            <TreeNode Node="@topLevelNode" @key="@topLevelNode.Key"/>
        }
    }
</div>

@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public ITreeNode Root { get; set; }
}
