<configuration>
	<system.diagnostics>
		<sources>
			<source name="SampleApp" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="Shared listener" type="System.Diagnostics.TextWriterTraceListener" initializeData="debug.log"
						traceOutputOptions="DateTime, ProcessId, ThreadId">
					</add>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="sourceSwitch" value="All"/>
		</switches>
		<trace autoflush="true" indentsize="2"/>
	</system.diagnostics>
</configuration>