@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.logview {
    display: inline-flex;
    justify-content: space-between;
    font-family: monospace;
    user-select: none;
    border: 2px grey solid;
    position: relative;
    overflow: hidden;
}
.logview .logline {
    padding: 0px;
    margin: 0px;
    cursor: text;
    white-space: nowrap;
    position: relative;
}
.logview .scroll-inner {
    display: inline-flex;
    flex-direction: column;
    width: min-content;
    margin-left: 30px;
    position: relative;
    top: 0px;
}
.logview .scroll-outer {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: white;
}
.logview .outline {
    font-family: monospace;
    position: absolute;
    transform: translate3d(0px, 0px, 0px);
    left: 0px;
    top: 0px;
    width: 30px;
    background-color: white;
}
.logview .outline .item {
    white-space: pre;
}
.bg1 {
    background-color: burlywood;
}
.bg2 {
    background-color: khaki;
}
.logline .txt {
    position: relative;
    white-space: pre;
}
.logline .pad {
    position: absolute;
    white-space: pre;
}
.logline .selhl {
    background-color: cyan;
    opacity: 0.7;
}
.logline .hl2 {
    background-color: chocolate;
}
.logline .sel {
    background-color: rgb(167, 176, 201);
}
.logline .cur {
    border-right: 1pt black solid;
}
.logline .curhid {
    border-right: none;
}
.logview .measure-text {
    position: absolute;
    white-space: pre;
}
.logview .vsroller {
    width: 10pt;
    min-width: 10pt;
    position: relative;
    background-color: rgb(243, 243, 243);
    padding-bottom: 10pt;
}
.logview .vsroller .slider {
    position: relative;
    height: 10pt;
    background-color: grey;
}

.loaded_messages_logview {
    width: 100%;
    height: 300px;
}