@page "/"

<div class='main-window'>
    <div class='container-1'>
        <LogJoint.Wasm.UI.MainWindowTabs Class="top" />
        <div class='bottom container-2'>
            <div class='left timeline'>timeline</div>
            <div class='mid container-3'>
                <LogJoint.Wasm.UI.LoadedMessages.LoadedMessages Class="top" />
                <div class='bottom'>search results</div>
            </div>
            <LogJoint.Wasm.UI.ToolsContainer Class='right' ResizerClass='right-separator'/>
        </div>
    </div>
</div>

@code {
}
