@namespace  LogJoint.Wasm.UI

<Modal Visible="@true" Class="alert">
    <div class="text">
        second  here aksjdkajsk djklasjdkl jaskljd kljaskldj klajskldjklasjdkljaskjd aksdjkasjdk ljasdj klasjkdj askj
    </div>
    <div class="buttons">
        <button>Yes</button>
        <button>No</button>
        <button>Cancel</button>
    </div>
</Modal>

@code {
}
